<%= form_tag user_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :current_password %>
    <%= password_field_tag :current_password, "", class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag :new_password %>
    <%= password_field_tag :new_password, "", class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag :new_password_confirmation %>
    <%= password_field_tag :new_password_confirmation, "", class: "form-control" %>
  </div>
  <br>
    <%= submit_tag :"Update Password", class: "btn btn-outline-primary" %>
<% end %>