<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="body">
  <nav class="navbar navbar-expand navbar-light bg-light">
  <%= link_to "Blog On Rails", root_path, :class => "navbar-brand text-primary"%>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
  <li class="nav-item">
  <%= link_to "Home", posts_path, :class => "nav-link active text-primary" %>
  </li>
  <li class="nav-item">
  <%= link_to "New Post", new_post_path, :class => "nav-link active text-primary" %>
  </li>
  </ul>
  </div>
  </nav>
  <% flash.each do |type, message| %>
  <div class="alert alert-info">
  <%= type + ": " + message %>
  </div>
  <% end %>
    <%= yield %>
  </body>
</html>
